<configuration>

	<system.web>
...
	</system.web>
	
	<system.webServer>
	<rewrite>
		<rules>
		  <rule name="Main Rule" stopProcessing="true">
			<match url="^(.*)$" />
			<conditions logicalGrouping="MatchAll">
			  <add input="{REQUEST_URI}" pattern="^/(dev|wiki)" negate="false" />
			</conditions>
			<action type="Rewrite" url="index.php" appendQueryString="true" />
		  </rule>
		</rules>
	  </rewrite>
	</system.webServer>
...

</configuration>